# maximum and minimum number of peers to connect to per torrent
throttle.min_peers.normal.set = 20
throttle.max_peers.normal.set = 80

# same as above but for seeding completed torrents, "-1" = same as downloading
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1

# maximum number of simultaneous uploads per torrent
throttle.max_uploads.set = 25

# global upload and download rate in KiB, "0" for unlimited
throttle.global_down.max_rate.set_kb = 4000
throttle.global_up.max_rate.set_kb = 0

# default directory to save the downloaded torrents.
directory.default.set = /mnt/chonk/Torrents/

# default session directory, don't run multiple instance of rtorrent using the same one
session.path.set = ./.rtorrent-session

# watch a directory for new torrents, and stop those that have been deleted
schedule2 = watch_directory, 5, 5, load.start=~/down/torrents/*.torrent

# close torrents when disk space is low
schedule2 = low_diskspace, 5, 60, close_low_diskspace=500M

# port range to use for listening
network.port_range.set = 6890-6999

# start opening ports at a random position within the port range
network.port_random.set = no

# set whether the client should try to connect to UDP trackers
trackers.use_udp.set = yes

# encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
protocol.encryption.set = allow_incoming,enable_retry,prefer_plaintext

# enable DHT support for trackerless torrents or when all trackers are down
dht.mode.set = auto
# UDP port to use for DHT
dht.port.set = 6881

# enable peer exchange (for torrents not marked private)
protocol.pex.set = yes

# set download list layout style, "full" or "compact"
ui.torrent_list.layout.set = "compact"

# run rtorrent as a daemon, controlled via XMLRPC
system.daemon.set = false
