/* Horizontal Server List by Gibbu#1211, https://github.com/DiscordStyles/HorizontalServerList */
@use "./HorizontalServerList.css";

@import "./src/base";

:root {
    --HSL-server-icon-size: 48px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */	
}

/* Monospaced font */
* {
	font-family: monospace !important;
}

/* Top user thing */
.panels-3wFtMD, .sidebar-1tnWFu {
    display: flex;
    flex-direction: column-reverse;
}

/* Fix broken (?) compact */
.header-2jRmjb > div {
  display: inline;
}

/* Sliding channels 
.sidebar-1tnWFu {
	width: 0px;
}

.wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu{
	width:240px;
}

.sidebar-1tnWFu:hover {
	width:240px;
}
*/
