#app-mount .title-31SJ6t .searchFilter-2UfsDk,
#app-mount .title-31SJ6t .searchAnswer-23w-CH {
    background-color: var(--background-primary);
}

#app-mount .panels-3wFtMD {
    background-color: var(--userarea-background);
}

#app-mount .scrollerBase-_bVAAt.disableScrollAnchor-6TwzvM::-webkit-scrollbar-thumb, #app-mount .scrollerBase-_bVAAt.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: var(--background-tertiary);
}
#app-mount .scrollerBase-_bVAAt.disableScrollAnchor-6TwzvM::-webkit-scrollbar-track, #app-mount .scrollerBase-_bVAAt.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: var(--background-secondary);
}
#app-mount .scrollerBase-_bVAAt.thin-31rlnD::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary-alt);
}
#app-mount .rolesList-22qj2L::-webkit-scrollbar-thumb {
    background-color: var(--background-tertiary);
}

#app-mount .invite-3uuHYQ {
    background-color: var(--background-secondary-6);
    border-color: var(--background-secondary);
}
#app-mount .tile-2mmK5T {
    background-color: var(--background-tertiary);
}
#app-mount .tile-2mmK5T:hover {
    background-color: var(--background-floating);
}
#app-mount .spoilerText-27bIiA {
    background-color: var(--background-tertiary);
}

#app-mount .root-g14mjS:not(.popout-3gby1q) {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount .root-g14mjS:not(.popout-3gby1q) .header-1zd7se.separator-2lLxgC {
    box-shadow: 0 1px 0 0 var(--background-tertiary), 0 1px 2px 0 rgba(24, 25, 28, 0.3);
}
#app-mount .root-g14mjS:not(.popout-3gby1q) .footer-31IekZ {
    background-color: var(--background-secondary);
    box-shadow: inset 0 1px 0 var(--background-tertiary);
}

:root {
    --jcs-background-primary: var(--background-primary);
    --jcs-background-secondary: var(--background-secondary);
    --jcs-background-secondary-alt: var(--background-secondary-alt);
    --jcs-background-tertiary: var(--background-tertiary);
    --jcs-text-normal: var(--text-normal);
    --jcs-header-primary: var(--header-primary);
    --jcs-header-secondary: var(--header-secondary);
    --jcs-background-modifier-accent: var(--background-modifier-accent);
    --jcs-background-modifier-hover: var(--background-modifier-hover);
    --jcs-deprecated-text-input-bg: var(--deprecated-text-input-bg);
    --jcs-deprecated-text-input-border: var(--deprecated-text-input-border);
}

#app-mount .theme-light .root-g14mjS {
    background-color: var(--jcs-background-primary);
    box-shadow: 0 0 0 1px var(--jcs-background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount .theme-light .root-g14mjS .colorStandard-21JIj7 {
    color: var(--jcs-text-normal);
}
#app-mount .theme-light .root-g14mjS .colorHeaderPrimary-jN_yGr {
    color: var(--jcs-header-primary);
}
#app-mount .theme-light .root-g14mjS .colorHeaderSecondary-g5teka {
    color: var(--jcs-header-secondary);
}
#app-mount .theme-light .root-g14mjS .lookBlank-3eh9lL div,
#app-mount .theme-light .root-g14mjS .lookLink-9FtZy- div {
    color: var(--jcs-text-normal);
}
#app-mount .theme-light .root-g14mjS .scrollerBase-_bVAAt::-webkit-scrollbar-thumb {
    background-color: var(--jcs-background-secondary-alt);
}
#app-mount .theme-light .root-g14mjS .container-x8Y1ix {
    background-color: var(--jcs-background-primary);
    border: 1px solid var(--jcs-background-modifier-accent);
}
#app-mount .theme-light .root-g14mjS .container-x8Y1ix:hover {
    background-color: var(--jcs-background-modifier-hover);
    border: 1px solid var(--jcs-background-modifier-accent);
}
#app-mount .theme-light .root-g14mjS .inputWrapper-1YNMmM.input-m1-Y7Q {
    background-color: var(--jcs-background-tertiary);
    border-radius: 3px;
}
#app-mount .theme-light .root-g14mjS .sampleLink-5BWNy9 {
    color: var(--jcs-header-primary);
}
#app-mount .theme-light .root-g14mjS .input-2g-os5 {
    background-color: var(--jcs-deprecated-text-input-bg);
    color: var(--jcs-text-normal);
    border: 1px solid var(--jcs-deprecated-text-input-border);
}
#app-mount .theme-light .root-g14mjS .footer-31IekZ {
    background-color: var(--jcs-background-secondary);
    box-shadow: inset 0 1px 0 var(--jcs-background-tertiary);
}

#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-primary);
}
#app-mount .keyboardShortcutsModal-2CRmCm .modalTitle-2skSKy {
    color: var(--header-primary);
}
#app-mount .keyboardShortcutsModal-2CRmCm .modalSubtitle-2lx7qk {
    color: var(--text-normal);
    opacity: 0.8;
}
#app-mount .keyboardShortcutsModal-2CRmCm .keybindGroup-39HP2U .keybindDescription-oXh6w_ {
    color: var(--header-secondary);
    opacity: 0.9;
}

#app-mount .content-2hZxGK .message-G6O-Wv {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

#app-mount .quickswitcher-pKcM9U .input-3r5zZY {
    background-color: var(--background-modifier-accent);
}

#app-mount .container-KM8BU6.root-g14mjS .scroller-2GkvCq {
    background-color: var(--background-secondary);
}
#app-mount .container-KM8BU6.root-g14mjS .scroller-2GkvCq .reactionSelected-1aMb2K {
    background-color: var(--background-accent-3);
}
#app-mount .container-KM8BU6.root-g14mjS .scroller-2GkvCq .reactionDefault-1Sjj1f:hover {
    background-color: var(--background-accent-1);
}
#app-mount .container-KM8BU6.root-g14mjS .reactors-1VXca7 {
    background-color: var(--background-primary);
}
#app-mount .container-KM8BU6.root-g14mjS .reactors-1VXca7 .reactor-1J25Qp {
    box-shadow: inset 0 -1px 0 var(--background-accent-3);
}

#app-mount .uploadModal-2ie9O_ {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount .uploadModal-2ie9O_ .footer-VCsJQY {
    background-color: var(--background-secondary);
    box-shadow: inset 0 1px 0 var(--background-tertiary);
}

#app-mount .tabBody-2dgbAs .peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}
#app-mount .tabBody-2dgbAs .nowPlayingColumn-1eCBCN .itemCard-3Etziu:hover {
    background-color: var(--activity-card-background);
}
#app-mount .tabBody-2dgbAs .nowPlayingColumn-1eCBCN .itemCard-3Etziu .body-16rSsp {
    background-color: var(--background-secondary);
}

#app-mount .installationPath-2PbaRC {
    box-shadow: 0 1px 0 0 var(--background-accent);
}
#app-mount .hiddenLibraryApplication-lfw1ab {
    border-bottom-color: var(--background-accent-3);
}
#app-mount .hiddenLibraryApplication-lfw1ab::before {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}

:root {
    --stage-background-primary: var(--background-primary);
    --stage-background-tertiary: var(--background-tertiary);
    --stage-background-floating: var(--background-floating);
}

#app-mount .callContainer-BGIngG {
    --background-primary: var(--stage-background-primary);
    --background-tertiary: var(--stage-background-tertiary);
    --background-floating: var(--stage-background-floating);
}

#app-mount .perksModal-fSYqOq {
    background-color: var(--background-primary);
}
#app-mount .perksModal-fSYqOq .tierMarkerBackground-G8FoN4 {
    background-color: var(--background-primary);
}
#app-mount .perksModal-fSYqOq .barBackground-unEPDT, #app-mount .perksModal-fSYqOq .tierMarkerInProgress-2Tdxjz {
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-fSYqOq .tierHeaderLocked-1s2JJz.tierHeader---JJFb {
    background-color: var(--background-floating);
}
#app-mount .perksModal-fSYqOq .tierBody-16Chc9 {
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-fSYqOq .perks-3OsGy8 li {
    background-color: var(--background-secondary);
}

#app-mount .applicationStore-2nk7Lo .scroller-1JpcIc {
    background-color: var(--background-primary);
}
#app-mount .applicationStore-2nk7Lo .purchaseUnit-2lxci3 .bodySection-3iDdop {
    background-color: var(--background-tertiary);
}
#app-mount .applicationStore-2nk7Lo .purchaseUnit-2lxci3 .label-29p9qC {
    color: var(--text-muted);
}

#app-mount .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 .base-2v-uc0.selected-3H3-RC {
    background-color: var(--background-primary);
}

#app-mount .css-3vaxre-menu {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}

#app-mount .colorPickerCustom-1swUKF {
    background-color: var(--background-primary);
    border-color: var(--background-tertiary);
}

#app-mount .calendarPicker-sDhzdi .react-datepicker {
    background-color: var(--background-primary);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__navigation {
    border-color: var(--background-floating);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__header {
    background-color: var(--background-primary);
    border-color: var(--background-floating-2);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__header .react-datepicker__current-month {
    border-bottom-color: var(--background-floating-2);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day {
    border-top-color: var(--background-floating);
    border-left-color: var(--background-floating);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day--outside-month,
#app-mount .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day--disabled {
    background-color: var(--background-secondary);
}

#app-mount .popout-3gby1q {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount .popout-3gby1q .friendSelected-3cwmD7 {
    background-color: var(--background-modifier-selected);
}

#app-mount .container-2McqkF#search-results {
    background-color: var(--background-secondary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-mount .container-2McqkF#search-results .focused-2FU0YH {
    background-color: var(--background-secondary);
}
#app-mount .container-2McqkF#search-results .option-2KkUJO::after {
    background: transparent;
}
#app-mount .container-2McqkF#search-results .option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-tertiary);
}
#app-mount .container-2McqkF#search-results .option-2KkUJO.selected-rZcOL-::before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--background-tertiary) 80%);
    padding-left: 10px;
}
#app-mount .container-2McqkF#search-results .option-2KkUJO.selected-rZcOL-::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--background-tertiary) 50%);
}

#app-mount [data-list-id=now-playing-popout] .popout-3Zw0qN {
    background-color: var(--background-floating);
}
#app-mount [data-list-id=now-playing-popout] .popout-3Zw0qN .memberListHeader-543n-J {
    color: var(--header-secondary);
    opacity: 0.89;
}
#app-mount [data-list-id=now-playing-popout] .popout-3Zw0qN .separator-2OaeRP {
    background-color: var(--background-modifier-accent);
}

#app-mount .container-1ILvLB .header-2C89wJ {
    background-color: var(--background-secondary-alt);
}
#app-mount .container-1ILvLB section {
    background-color: var(--background-secondary);
}

#app-mount .streamPreview-3qoMP4 {
    background-color: var(--background-tertiary);
}
#app-mount .streamPreview-3qoMP4 .previewContainer-21fFBz {
    background-color: var(--deprecated-panel-background);
}

#app-mount .userPopout-3XzG_A {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--background-tertiary);
}
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN {
    background-color: var(--background-tertiary);
}
#app-mount .userPopout-3XzG_A .body-3iLsc4 {
    background-color: var(--background-secondary);
}
#app-mount .userPopout-3XzG_A .footer-1fjuF6 {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}

#app-mount [aria-label=GUILD_SETTINGS] .inputMini-Un2tP4 {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 {
    color: var(--text-muted);
    border-color: var(--background-tertiary);
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 .headerExpanded-CUEwZ5 {
    background-color: var(--background-secondary-alt);
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 .header-GwIGlr:not(.headerExpanded-CUEwZ5), #app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 .changeDetails-bk98pu {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 .divider-1pnAR2 {
    background-color: var(--background-tertiary);
}
#app-mount [aria-label=GUILD_SETTINGS] .tierHeader-rlkkJd {
    background-color: var(--background-tertiary);
}
#app-mount [aria-label=GUILD_SETTINGS] .tierHeader-rlkkJd .tierHeaderContent-2-YfvN {
    color: var(--interactive-normal);
}
#app-mount [aria-label=GUILD_SETTINGS] .tierBody-x9kBBp {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=GUILD_SETTINGS] .card-2ART2V::before {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}
#app-mount [aria-label=GUILD_SETTINGS] .elevationHigh-28Pty4 {
    background-color: var(--background-tertiary) !important;
}

#app-mount [aria-label=USER_SETTINGS] .stickerImageSection-7EUs8E {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=USER_SETTINGS] .gemIndicatorContainer-PqApbX {
    background-color: var(--background-floating);
}
#app-mount [aria-label=USER_SETTINGS] .paymentPane-ut5qKZ {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=USER_SETTINGS] .paymentPane-ut5qKZ .paginator-1eqD2g, #app-mount [aria-label=USER_SETTINGS] .paymentPane-ut5qKZ .bottomDivider-ZmTm-j {
    background-color: var(--background-secondary);
}
#app-mount [aria-label=USER_SETTINGS] .paymentPane-ut5qKZ .bottomDivider-ZmTm-j {
    border-bottom-color: var(--background-primary);
}
#app-mount [aria-label=USER_SETTINGS] .codeRedemptionRedirect-3SBiCp {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}
#app-mount [aria-label=USER_SETTINGS] .previewOverlay-2reuWf {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}
#app-mount [aria-label=USER_SETTINGS] .game-3x3aDt.card-2ART2V {
    box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}
#app-mount [aria-label=USER_SETTINGS] .game-3x3aDt.card-2ART2V .removeGame-3Le1LJ {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
#app-mount [aria-label=USER_SETTINGS] .card-2ART2V::before {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}