* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 11px;
    padding-left: 1px;
    padding-right: 1px;
}

window#waybar {
    background-color: #181b28;
}

#workspaces button {
    padding: 0 2px;
}

#workspaces button.focused {
    background-color: #64727d;
}

#workspaces button:hover {
    background: #3d464c;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
