/* epic colors */
:root {
    // base
    --background-primary: #181b28;
    --background-secondary: #151926;
    --background-secondary-alt: #4f545c;
    --background-tertiary: #1b1f2d;
    --background-accent: #4f545c;
    --background-floating: #151926;
    --userarea-background: var(--background-secondary);
    --header-primary: #ffffff;
    --header-secondary: #b9bbbe;
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: #8e9297;
    --channeltextarea-background: #232739;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --activity-card-background: #232739;

    // interactive
    --interactive-normal: #e8e7e4;
    --interactive-hover: #dcddde;
    --interactive-active: #ffffff;
    --interactive-muted: #4f545c;
    
    // bg modifiers 
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    
    // text
    --text-link: #53fde9;
    --text-normal: #e8e7e4;
    --text-muted: #72767d;
}
