#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-primary);

    .modalTitle-2skSKy {
        color: var(--header-primary);
    }

    .modalSubtitle-2lx7qk {
        color: var(--text-normal);
        opacity: 0.80;
    }

    .keybindGroup-39HP2U {
        .keybindDescription-oXh6w_ {
            color: var(--header-secondary);
            opacity: 0.9;
        }
    }
}