#app-mount .container-KM8BU6.root-g14mjS {
    .scroller-2GkvCq {
        background-color: var(--background-secondary);

        .reactionSelected-1aMb2K {
            background-color: var(--background-accent-3);
        }

        .reactionDefault-1Sjj1f:hover{
            background-color: var(--background-accent-1);
        }
    }

    .reactors-1VXca7 {
        background-color: var(--background-primary);

        .reactor-1J25Qp {
            box-shadow: inset 0 -1px 0 var(--background-accent-3);
        }
    }
}