#app-mount [aria-label="USER_SETTINGS"] {
    // Subscriptions
    .stickerImageSection-7EUs8E {
        background-color: var(--background-secondary);
    }
    .gemIndicatorContainer-PqApbX {
        background-color: var(--background-floating);
    }

    // Billing
    .paymentPane-ut5qKZ {
        background-color: var(--background-secondary);

        .paginator-1eqD2g, .bottomDivider-ZmTm-j {
            background-color: var(--background-secondary);
        }

        .bottomDivider-ZmTm-j {
            border-bottom-color: var(--background-primary);
        }
    }
    .codeRedemptionRedirect-3SBiCp {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }

    // Voice & Video
    .previewOverlay-2reuWf {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }

    // Game Activity
    .game-3x3aDt.card-2ART2V {
        box-shadow: 0 1px 0 0 var(--background-modifier-accent);

        .removeGame-3Le1LJ {
            background-color: var(--background-primary);
            box-shadow: 0 0 0 1px var(--background-tertiary), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
        }
    }

    // Cards
    .card-2ART2V::before {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }
}