#app-mount .tabBody-2dgbAs {
    .peopleColumn-1wMU14 {
        background-color: var(--background-primary);
    }

    .nowPlayingColumn-1eCBCN {
        .itemCard-3Etziu {
            &:hover {
                background-color: var(--activity-card-background);
            }

            .body-16rSsp {
                background-color: var(--background-secondary);
            }
        }
    }
}