#app-mount .applicationStore-2nk7Lo {
    .scroller-1JpcIc {
        background-color: var(--background-primary);
    }

    .purchaseUnit-2lxci3 { 
        .bodySection-3iDdop {
            background-color: var(--background-tertiary);
        }

        .label-29p9qC {
            color: var(--text-muted)
        }
    }
}