window {
margin: 0px;
border: 1px solid #C50ED2;
background-color: #181B28;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #181B28;
}

#inner-box {
margin: 5px;
border: none;
background-color: #181B28;
}

#outer-box {
margin: 5px;
border: none;
background-color: #181B28;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FFFFFF;
} 

#entry:selected {
background-color: #5C6F7B;
}
