#app-mount [data-list-id="now-playing-popout"] .popout-3Zw0qN {
    background-color: var(--background-floating);

    .memberListHeader-543n-J {
        color: var(--header-secondary);
        opacity: 0.89;
    }

    .separator-2OaeRP {
        background-color: var(--background-modifier-accent);
    }
}