#app-mount {
    .scrollerBase-_bVAAt {
        &.disableScrollAnchor-6TwzvM,
        &.auto-2K3UW5 {
            &::-webkit-scrollbar {
                &-thumb {
                    background-color: var(--background-tertiary);
                }
    
                &-track {
                    background-color: var(--background-secondary);
                }
            }
        }
    
        &.thin-31rlnD::-webkit-scrollbar-thumb {
            background-color: var(--background-secondary-alt);
        }
    }

    .rolesList-22qj2L::-webkit-scrollbar-thumb {
        background-color: var(--background-tertiary);

    }
}